<div class="headbar">
  <a class="logo">
    <span>isa</span>-ng2-seed
  </a>
  <i class="fa fa-bars collapse-menu-link" (click)="sidebarReverse()"></i>
  <div class="user-profile pull-right" dropdown>
    <a>
      <img src="assets/images/head.jpg" class="img-circle" dropdownToggle>
    </a>
    <ul dropdownMenu role="menu" aria-labelledby="single-button">
      <li role="menuitem">
        <i class="dropdown-arr"></i>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" href="#">
            <i class="fa fa-user fa-fw"></i>
            账户
          </a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" href="#">
            <i class="fa fa-cog fa-fw"></i>
            设置
          </a>
      </li>
      <li role="menuitem">
        <a class="dropdown-item" href="#">
          <i class="fa fa-sign-out fa-fw"></i>
          注销
        </a>
      </li>
    </ul>
  </div>
</div>
