@import '../../../styles/variables.scss';

:host {
  width: inherit;
}

.headbar {
  background-color: #282828;
  position: fixed;
  top: 0;
  height: 66px;
  width: inherit;
  padding: 0 32px 0 40px;
  z-index: 1001;

  .logo {
    display: block;
    font-size: 24px;
    white-space: nowrap;
    float: left;
    line-height: 60px;
    color: $color-default;
    transition: color 0.2s ease;

    &:hover {
      color: $primary;
    }

    span {
      color: $primary;
    }
  }

  .collapse-menu-link {
    cursor: pointer;
    display: inline-block;
    margin-top: 21px;
    margin-left: 20px;
    transition: color 0.2s ease;
    font-size: 20px;

    &:hover {
      color: #e7ba08;
    }
  }

  .user-profile {
    img {
      width: 45px;
      height: 45px;
      margin-top: 10px;
    }
  }

  .dropdown-menu {
    right: -15px;

    i.dropdown-arr {
      right: 24px;
    }
  }
}
