@import 'variables.scss';
.isaqa {
  a {
    cursor: pointer;
    color: $primary;

    &:hover, &:focus {
      color: $primary;
      text-decoration: none;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  .table {
    margin-bottom: 0;
  }

  .dropdown-menu {
    top: 70px;

    li {
      a, a:hover, a:focus {
        color: #7d7d7d;

        i {
          margin-right: 10px;
        }
      }

      i.dropdown-arr {
        position: absolute;
        top: -22px;
        display: block;
        width: 0;
        height: 0;
        border: 11px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.15);
        right: 42px;

        &::after {
          top: -9px;
          left: 0;
          margin-left: -10px;
          content: " ";
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          border: 10px solid transparent;
          border-bottom-color: $color-default;
        }
      }
    }
  }

  .form-group {
    &.has-success {
      label {
        color: inherit;
      }
      .form-control {
        &, &:focus {
          border-color: #a2db59;
        }
      }
    }

    &.has-error {
      label {
        color: inherit;
      }
      .form-control {
        border-color: #fa758e;
        &:focus {
          border-color: #f95372;
        }
      }
    }

    .control-label {
      font-weight: 400;
      font-size: 13px;
      padding-top: 10px;
    }

    .form-control {
      color: $color-default;
      border: 1px solid rgba(255, 255, 255, 0.6);
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.1);
      box-shadow: none;
      font-size: 14px;

      &:focus {
        box-shadow: none;
      }

      &::-webkit-input-placeholder {
        color: $color-default;
        opacity: 0.7;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: $color-default;
        opacity: 0.7;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: $color-default;
        opacity: 0.7;
      }
      &:-ms-input-placeholder {
        color: $color-default;
        opacity: 0.7;
      }

      &:focus {
        border-color: #33bcff;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
