@import 'preloader.scss';
@import 'overwrite.scss';
@import url('http://at.alicdn.com/t/font_z2fgc65y2tq33di.css');

html {
    min-height: 100%;
    height: 100%;

    body {
        min-height: 100%;
        height: 100%;
        color: #fff;
    }
}
