@import 'variables.scss';

.table.table-common {
  th, td {
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    line-height: 35px;
    vertical-align: middle;
    font-size: 12px;
    white-space: nowrap;

    &.checkbox-wrapper {
      text-align: center;

      .checkbox-inline {
        width: 16px;
        margin-bottom: 2px;
        height: 16px;
      }
    }

    select {
      width: inherit;

      &.full {
        width: 100%;
      }
    }

    a.action {
      font-size: 14px !important;
      color: $default;
      padding: 0 5px;
      display: inline-block;

      &.add {
        height: 25px;
        vertical-align: middle;
        i {
          font-size: 24px;
        }
      }
    }
  }

  color: $default;

  input {
    line-height: 1.5 !important;
  }

  tbody {
    tr:hover {
      background: rgba(0, 0, 0, 0.03);
    }

    tr:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }
  }
}
