<div class="row">
  <div class="col-md-12">
    <app-card title="INLINE FORM">
      <app-inline-form></app-inline-form>
    </app-card>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <app-card title="基础表单">
      <app-basic-form></app-basic-form>
    </app-card>
    <app-card title="水平表单">
      <app-horizontal-form></app-horizontal-form>
    </app-card>
    <app-card title="上传图片"></app-card>
  </div>
  <div class="col-md-6">
    <app-card title="FORM WITHOUT LABELS">
      <app-form-without-labels></app-form-without-labels>
    </app-card>
    <app-card title="BLOCK FORM">
      <app-block-form></app-block-form>
    </app-card>
  </div>
</div>
