<div class="row">
  <app-card title="智能图表" class="col-md-6">
    <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
  </app-card>
  <app-card title="纯CSS表格" class="col-md-6">
    <table class="table table-common">
      <thead>
        <tr>
          <th>姓名</th>
          <th>手机号</th>
          <th>身份证号</th>
          <th>银行卡号</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let z of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
          <td>张三</td>
          <td>
            <a class="a-common" [routerLink]="['./', 'asdads']">
                  13758257706
                </a>
          </td>
          <td>330129388192919131</td>
          <td>6228289122831192716</td>
        </tr>
      </tbody>
    </table>
    <nav class="pagination-nav">
      <pagination [boundaryLinks]="true" [totalItems]="100" [directionLinks]="false" [maxSize]="5" [(ngModel)]="currentPage" firstText="&laquo;"
        lastText="&raquo;"></pagination>
    </nav>
  </app-card>
</div>
