<form>
  <div class="form-group">
    <label for="input01">文本</label>
    <input type="text" class="form-control" id="input01" placeholder="Text">
  </div>
  <div class="form-group">
    <label for="input02">密码</label>
    <input type="text" class="form-control" id="input02" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="input03">Rounded Corners</label>
    <input type="text" class="form-control form-control-rounded" id="input03" placeholder="Rounded Corners">
  </div>
  <div class="form-group">
    <label for="input04">帮助信息</label>
    <input type="text" class="form-control" id="input04" placeholder="With help">
    <span class="help-block sub-little-text">这是一条帮助信息</span>
  </div>
  <div class="form-group">
    <label for="input05">禁用状态</label>
    <input type="text" class="form-control" id="input05" placeholder="Disabled Input" disabled>
  </div>

  <div class="form-group">
    <label for="textarea01">Textarea</label>
    <textarea placeholder="Default Input" class="form-control" id="textarea01"></textarea>
  </div>

  <div class="form-group">
    <input type="text" class="form-control input-sm" id="input2" placeholder="控件尺寸sm">
  </div>
  <div class="form-group">
    <input type="text" class="form-control input-lg" id="input4" placeholder="控件尺寸lg">
  </div>
</form>
