<div class="checkbox-demo-row">
  <div class="input-demo checkbox-demo row">
    <div class="col-md-4">
      <app-checkbox label="checkbox 1"></app-checkbox>
    </div>
    <div class="col-md-4">
      <app-checkbox label="checkbox 2"></app-checkbox>
    </div>
    <div class="col-md-4">
      <app-checkbox label="checkbox 3"></app-checkbox>
    </div>
  </div>
  <div class="input-demo radio-demo row">
    <div class="col-md-4">
      <label class="radio-inline custom-radio nowrap">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <span>Option 1</span>
      </label>
    </div>
    <div class="col-md-4">
      <label class="radio-inline custom-radio nowrap">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <span>Option 2</span>
      </label>
    </div>
    <div class="col-md-4">
      <label class="radio-inline custom-radio nowrap">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
        <span>Option3</span>
      </label>
    </div>
  </div>
</div>
<div>
  <app-checkbox [(ngModel)]="isDisabled" [label]="'Disabled checkbox'" [disabled]="true"></app-checkbox>
  <app-checkbox [(ngModel)]="checked" [label]="'测试'" (ngModelChange)="onChange($event)"></app-checkbox>
  <div class="radio disabled">
    <label class="custom-radio nowrap">
      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
      <span>Disabled option</span>
    </label>
  </div>
</div>
