@import '../../../styles/variables.scss';

li.menu {
  position: relative;

  a {
    padding-left: 18px;
    color: $default;
    font-size: 13px;
    transition: color 0.2s ease;
    display: block;
    height: 42px;
    line-height: 42px;

    i {
      margin-right: 18px;

      &.down {
        position: absolute;
        right: 0;
        top: 12px;
        font-size: 18px;
      }
    }

    &.expanded {
      i.down {
        transform:rotate(180deg);
        -ms-transform:rotate(180deg); /* Internet Explorer */
        -moz-transform:rotate(180deg); /* Firefox */
        -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
        -o-transform:rotate(180deg); /* Opera */
        transition: transform 0.2s linear;
      }
    }

    &.shrink {
      i.down {
        transform:rotate(360deg);
        -ms-transform:rotate(360deg); /* Internet Explorer */
        -moz-transform:rotate(360deg); /* Firefox */
        -webkit-transform:rotate(360deg); /* Safari 和 Chrome */
        -o-transform:rotate(360deg); /* Opera */
        transition: transform 0.2s linear;
      }
    }

    &:hover {
      color: $primary;
    }
  }

  &.selected {
    background-color: $primary;

    a:hover {
      color: $default;
    }
  }

  ul {
    display: none;

    li {
      a {
        padding-left: 56px;
        height: 29px;
        line-height: 29px;
      }
    }
  }
}

li.selected {
    background-color: $primary;

    a:hover {
      color: $default;
    }
  }
