@import '../../../styles/variables.scss';

li.menu {
  position: relative;

  a {
    padding-left: 18px;
    color: #fff;
    font-size: 13px;
    transition: color 0.2s ease;
    display: block;
    height: 42px;
    line-height: 42px;

    i {
      margin-right: 18px;

      &.down {
        position: absolute;
        right: 0;
        top: 12px;
        font-size: 18px;
      }
    }

    &:hover {
      color: $primary;
    }
  }

  &.selected {
    background-color: $primary;

    a:hover {
      color: #fff;
    }
  }

  ul {
    li {
      a {
        padding-left: 56px;
        height: 29px;
        line-height: 29px;
      }
    }
  }
}

li.selected {
    background-color: $primary;

    a:hover {
      color: #fff;
    }
  }
