<li class="menu" *ngIf="item.path" [routerLink]="item.path" routerLinkActive="selected">
  <a
    [title]="item.title"
    class="cut-with-dot"
    (click)="toggle($event)"
    [ngClass]="{'expanded': item.expanded, 'shrink': !item.expanded}">
    <i
      class="fa fa-fw"
      [ngClass]="item.icon"></i>
    {{ item.title }}
    <i
      class="fa down fa-angle-down"
      *ngIf="item.children"></i>
  </a>
  <!--<ul
    *ngIf="item.children"
    class="list-unstyled sublist">
    <li *ngFor="let item of item.children" [routerLink]="item.path" routerLinkActive="selected">
      <a>
        {{ item.title }}
      </a>
    </li>
  </ul>-->
</li>

<li *ngIf="!item.path" class="menu">
  <a
    class="cut-with-dot"
    (click)="toggle($event)"
    [ngClass]="{'expanded': item.expanded, 'shrink': !item.expanded}">
    <i
      class="fa fa-fw"
      [ngClass]="item.icon"></i>
    {{ item.title }}
    <i
      class="fa down fa-angle-down"
      *ngIf="item.children"></i>
  </a>
  <ul
    *ngIf="item.children"
    class="list-unstyled sublist"
    #subList>
    <li *ngFor="let item of item.children" [routerLink]="item.path" routerLinkActive="selected">
      <a
        [title]="item.title"
        class="cut-with-dot">
        {{ item.title }}
      </a>
    </li>
  </ul>
</li>
