main {
  min-height: 100%;
  background-color: #363636;
  background-image: url(../../../assets/images/sky-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .pages {
    width: 100%;
    margin: 0 auto;
    position: relative;

    .main {
      margin-left: 180px;
      padding-top: 66px;
      min-height: 500px;
      position: relative;

      .content {
        padding: 8px 32px 8px 40px;
      }
    }
  }
}
